:root {

    --fundo: #0C0E12;
    --cinza_escuro: #22262F;
	--cinza: #E9EAEB;
	--fonte: #717680;
	--shadow: 0 1px 2px 0 rgb(0 0 0/ 0.05);
	--error: #7F1D1D;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "montesserrat";
    src: url("../font/Montserrat-Regular.ttf");
}

body {
    background-color: var(--fundo) !important;
    font-family: "montesserrat" !important;
    overflow: hidden;
}

.dropdrow {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dropdrow #loading {
    color:#00875f;
    font-size: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(360deg);
    }

}

input {
    outline: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cinza_escuro);
    border: 3px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

.content {
    display: flex;
}

.menu {
    color: white;
    height: 100vh;
    padding: 20px;
    width: 300px;

}

.menu .logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.menu .logo img {
    height: 40px;
}

.menu .logo h1 {
    margin-left: 10px;
    font-size: 20px;
}

.menu .menu-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: white;
}

.menu .menu-item a {
    text-decoration: none;
    color: #CECFD2;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu .menu-item .ph {
    color: #61656C;
    font-size: 18px;
}

.menu .active {
    background-color: var(--cinza_escuro);
}

.tela {
    width: 100%;
    margin-top: 10px;
    border-left: 1px solid var(--cinza_escuro);
    border-top: 1px solid var(--cinza_escuro);
    border-top-left-radius: 40px;
    padding: 30px;
    overflow-y: auto;
    height: 100vh;

}


.cabecalhoTela {
    display: flex;
    justify-content: space-between;
    color: #E1E1E6;
    height: 60px;
}

.cabecalhoTela h1 {
    margin-bottom: 10px;
    font-size: 20px;

}

.cabecalhoTela span {
    font-size: 14px;
}

.btnPadrao {
    background-color: #00875f;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

}

.btnPadrao:hover {
    background-color: #005C41;
}

.btnPadraoSecundario {
    background-color: transparent;
    color: #00875f;
    border: 1px solid #00875f;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

}

.btnPadraoSecundario:hover {
    color: #005C41;
    border: 1px solid #005C41;
}

.btnPadrao .ph {
    color: white;
    font-size: 20px;
}

.linhaCards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0px
}

.cardFora {
    width: 33%;
    height: 150px;
    border-radius: 12px;
    color: white;
    border: 1px solid var(--cinza_escuro);
    box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
    background-color: #13161b;
}

.cardCima {
    height: 50px;
    padding: 15px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: bold;
    opacity: 1;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardCima .ph {
    font-size: 20px;
}

.cardCima .up {
    color: #00B37E;
}

.cardCima .down {
    color: #F75A68;
}

.cardBaixo {
    height: 100px;
    border: 1px solid var(--cinza_escuro);
    border-radius: 12px;
    background-color: var(--fundo);
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}

.linhaFiltros {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.divPesquisa {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 100% !important;
}

#pesquisa {
    font-size: 14px !important;
    border: 1px solid var(--cinza_escuro);
    border-radius: 10px;
    width: 100%;
}

#inputPesquisar {
    font-size: 14px !important;
    color: #85888E !important;
    background-color: transparent !important;
    border: none !important;
    font-family: "montesserrat";
}

#inputPesquisar::placeholder {
    font-size: 14px !important;
    color: #85888E !important;
}

#imgPesquisa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #61656C;
}

#imgFunil {
    font-size: 25px;
    color: #61656C;
}

.tabela {
    border-radius: 10px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid var(--cinza_escuro);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    padding-left: 20px;
    height: 100%;
}

table .cabecalho,
table tfoot {
    background: transparent;
    color: #F7F7F7;
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
    text-align: left;
    background-color: #13161b;
}

table tfoot {
    height: 20px;
}

table th,
table td {
    font-size: 12px;
    padding: 10px;
    font-weight: normal;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    color: #F7F7F7;
    ;

}


table th {
    white-space: normal;
    color: #94979C;
    font-weight: bold;
}

table td:hover .tooltiptext {
    visibility: visible;
}

table tbody {
    display: block;
    position: relative;
    overflow-y: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #13161b;
}

table tbody tr {
    display: block;
}

table thead,
table tbody tr,
table tfoot {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table thead th {
    padding-right: 10px;
}

table tbody tr {
    border-bottom: 1px solid var(--cinza_escuro);
}

table tbody tr:last-child {
    border-bottom: none;
}

table tbody td {
    padding: 14px;
}

table tfoot {
    border-top: 1px solid var(--cinza_escuro);
}

table tfoot th {
    padding: 5px 10px;
}

table .cabecalho {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--cinza_escuro);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table .img img {
    height: 18px;
}

table .centro {
    text-align: center;
}

table .colunaInteiro {
    text-align: center;
    width: 20ch;
}

table .colunaValor {
    text-align: right;
    max-width: 15ch;
    width: 15ch;
}

table .colunaData {
    width: 20ch;
    max-width: 20ch;
}

table .colunaIcone {
    width: 5ch;
    font-size: 14px;
    color: #61656C
}

table .colunaIcone img {
    cursor: pointer;
}

table .entrada {
    color: #00B37E;
}

table .saida {
    color: #F75A68;
}

table .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

table .categoria {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;


}

/* ######### MODAL CADASTRO E MODAL EXCLUIR ######### */
.form-control {
	border: 1px solid var(--cinza) !important;
}

.form-control:focus {
	outline: 0 !important;
	box-shadow: none !important;
	border-color: var(--primaria-700) !important;
}

.form-group {
	margin-bottom: 8px !important;
}

.form-group:last-child {
	margin-bottom: 0px !important;
}

.modal {
	color: var(--fonte);
}

.modal-content {
	background-color: #202024 !important;
}

.modal label,
.modal input {
	font-size: 14px !important;
}

.modal input {
	box-shadow: var(--shadow);
}

.inputError {
	border: 1px solid red !important;
}

#tituloModal,
#tituloExcluir {
	font-size: 16px !important;
}

#bodyExcluir {
	font-size: 14px !important;
}